<p class ='name'>{{name}}</p>
<div><img id ="image"src="mrpoopybutthole.png" alt="mrpoopybutthole" style="height: 250px; width: 125px"></div>
<div class="description">
<p>Status: {{status}}</p>
<p>Species: {{species}}</p>
<p>Gender: {{gender}}</p>
<p>Location: {{location}}</p>
</div>