<p class ='name'>{{name}}</p>
<div><img id ="image"src="rick.png" alt="rick"  style="height: 250px; width: 125px"></div>
<div class="description">
<p>Status: {{status}}</p>
<p>Species: {{species}}</p>
<p>Gender: {{gender}}</p>
<p>Location: {{location}}</p>
</div>